<div class="top">
<div class="top-text">
<h2>Welcome to <i class="fa-solid fa-book"></i>Bookers!</h2>
<p>In <i class="fa-solid fa-book"></i>Bookers,<br>
you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>
</div>
</div>